.sectionCounter {
   box-sizing: border-box;

   * {
      box-sizing: border-box;
   }

   font-family: PF DinDisplay Pro,
   sans-serif;
   background-size: 50%;
   padding        : 50px 0;

   .sectionInner {
      display        : flex;
      flex-direction : row;
      align-items    : center;
      justify-content: space-between;
      height         : 300px;
   }

   &_firstCol {
      width          : 65%;
      height         : 100%;
      display        : flex;
      flex-direction : column;
      align-items    : flex-start;
      justify-content: space-between;


      &-title {
         font-style    : normal;
         font-weight   : 700;
         font-size     : 35px;
         line-height   : 50px;
         letter-spacing: 0.05em;
         text-transform: uppercase;
         color         : #212129;
         margin        : 0;
         padding       : 0;
      }


      .timer {
         width: 100%;
      }
      .timer__items {
         width: 100%;
         font-size: 48px;
         display  : flex;
         justify-content: space-between;
      }

      .timer__item {
         position      : relative;
         min-width     : 60px;
         margin-left   : 10px;
         margin-right  : 10px;
         padding-bottom: 15px;
         text-align    : center;
         color         : #D62424;
         font-size: 96px;
      }

      .timer__item::before {
         content  : attr(data-title);
         color    : black;
         display  : block;
         position : absolute;
         left     : calc(50% - 30px);
         bottom   : 0;
         transform: translateX(-50%);
         font-size: 20px;
      }

      .timer__item:not(:last-child)::after {
         content: ":";
         margin: 0 0 0 30px;
      }


   }

   &_secondCol {
      width          : 35%;
      height         : 100%;
      display        : flex;
      flex-direction : column;
      align-items    : flex-end;
      justify-content: space-between;


      &-title {
         font-style    : normal;
         font-weight   : 700;
         font-size     : 20px;
         line-height   : 50px;
         letter-spacing: 0.05em;
         text-transform: uppercase;
         color         : #212129;
         padding       : 0;
         margin        : 0;
      }

      &-btn {
         width : 300px;
         height: 62px;
      }


   }
}